@using EPiServer.Web.Mvc.Html
@using EPiTechnoSessie.Models.Pages

@model EPiTechnoSessie.Models.ViewModels.HomeViewModel

<div>
    @Html.PropertyFor(m => m.CurrentPage.MainBody)
    <br/>
    @Html.PropertyFor(m => m.CurrentPage.HomePageBlocks)
    <br/>
    <ul>
        @foreach (StandardPage page in Model.ChildPages)
        {
            <li>@page.Name</li>
        }
    </ul>
</div>
